@import "../../App.scss";

.pitchshift-container {
  border: 1px solid black;
  width: 20%;
  justify-content: center;
  margin-bottom: 20px;
  font-family: $primary-font-type;
  color: $primary-font-color;
  background-color: $component-bkg-clr;

  .pitchshift-label {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .pitchshift-knob {
    margin-left: 10%;
    padding: 15px;
    margin-bottom: 40px;
  }
}
