.delay {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  font-family: 'Courier New', Courier, monospace;

  .delay-title {
    margin: 10px 0 0 30px;
    font-size: 30px;
  }
  .delay-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;

    &__amount {
      margin: 10px 0;
    }

    &__delayTime {
      margin: 10px 0;
    }
    &__feedback {
      margin: 10px 0;
    }
  }
}
