@import "../../App.scss";

.chorus {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-bottom: 15px;
  font-family: $primary-font-type;
  color: $primary-font-color;
  background-color: $component-bkg-clr;

  .chorus-title {
    margin: 10px 0 0 30px;
    font-size: 30px;
  }
  .chorus-button {
    margin: 20px 0 10px 30px;
    button {
      font-family: $primary-font-type;
      font-size: 18px;
      background-color: $btn-clr;
      color: $primary-font-color;
    }
  }
  .chorus-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__amount {
      margin: 10px;
    }
    &__depth {
      margin: 10px;
    }
    &__spread {
      margin: 10px;
    }
  }
  .chorus-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__frequency {
      margin: 10px;
    }
    &__delay {
      margin: 10px;
    }
    &__feedback {
      margin: 10px;
    }
  }
}
