.reverb {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 45%;

  .reverb-title {
    margin: 10px 0 0 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  .reverb-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;

    &__amount {
      margin: 10px 0;
    }

    &__preDelayTime {
      margin: 10px 0;
    }
    &__decay {
      margin: 10px 0;
    }
  }
}
