@import "../App.scss";

.player {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-family: $primary-font-type;
  color: $primary-font-color;
  background-color: $component-bkg-clr;
  font-size: 20px;
  margin-bottom: 20px;

  &__button {
    margin: 10px 0 20px 10px;
    button {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      background-color: $btn-clr;
      color: $primary-font-color;
    }
  }
  &__upload {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 0px 20px 0px;
    input {
      position: absolute;
      display: inline-block;
      padding: 40px 40% 42px 40px;
      cursor: pointer;
      opacity: 0;
    }
    label {
      display: inline-block;
      border: 1px dashed $primary-font-color;
      padding: 40px 10% 40px 40px;
      cursor: pointer;
    }
  }
  &__sampleName {
    font-style: italic;
    margin-bottom: 15px;
    font-size: 20px;
  }
  &__playback {
    margin: 10px;
  }
  &__loopStart {
    margin: 10px;
  }
  &__loopEnd {
    margin: 10px;
    margin-bottom: 30px;
  }
}
