.eq-knobs {
  display: flex;
  border: 1px solid black;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 40px;
  justify-content: space-around;

  .eq-knobs-low {
    margin: 10px;
  }
  .eq-knobs-mid {
    margin: 10px;
    margin-left: 50px;
  }
  .eq-knobs-high {
    margin: 10px;
    margin-left: 50px;
  }
}
