@import "../App.scss";

.master-fader {
  border: 1px solid black;
  margin: 20px 0 100px 0;
  display: flex;
  flex-direction: column;
  font-family: $primary-font-type;
  color: $primary-font-color;
  background-color: $component-bkg-clr;

  &__title {
    font-size: 25px;
    margin: 10px 20px;
  }
  &__fader {
    margin: 10px;
    margin-bottom: 50px;
    width: 100%;
  }
}
