.fader-container {
  margin: 20px 0px 20px 0px;
  .fader {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 50%;
    height: 2px; /* Specified height */
    background: #493f3f;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 50px;
      background: #493f3f;
      border: 1px solid black;
      cursor: pointer;
    }
  }
  .slider::-moz-range-thumb {
    width: 20px;
    height: 50px;
    background: #493f3f;
    cursor: pointer;
  }
}
