@import "../../App.scss";

.filter-container {
  border: 1px solid black;
  margin-bottom: 20px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  font-family: $primary-font-type;
  color: $primary-font-color;
  background-color: $component-bkg-clr;

  .filter-label {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .filter-knob {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .filter-selector {
    flex-direction: column;
    align-items: center;
    div {
      margin: 15px;
    }
    button {
      font-family: $primary-font-type;
      font-size: 17px;
      background-color: $btn-clr;
      color: $primary-font-color;
    }
  }
}
